img.banner {
  margin: 2rem auto 0;
  width: 100%;
}

.mainPost {
  padding: 80px 0 !important;

  main {
    h1 {
      font-size: 2.5rem;
    }
  }

  article {
    margin: 3rem auto 0;

    strong {
      font-size: 2.5rem;
      line-height: 1.5rem;
    }

    p {
      color: var(--info);
      margin-top: 1.5rem;
      text-align: justify;
    }

    ul {
      color: var(--info);
      margin-top: 1.5rem;
      text-align: justify;
    }
  }
}

.predictPosts {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: space-between;

  border-top: 1px solid rgba(#D7D7D7, 10%);

  margin-top: 2rem;
  padding: 4rem 0;

  .postItem {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    font-size: 1.1rem;
  a {
    color: #FF57B2;
    font-weight: bold;
    font-size: 1rem;
  }
  &.prev {
    text-align: left;
  }
  &.next {
    text-align: right;
  }
  }
}

.infoPost {
  padding: 24px 0;
}

.postFooter {
  margin: 32px 0;
}
